---
const personalImageAlt = 'Brayan RB'
---

<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row'
>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-[#f83600] dark:[&>p>strong]:text-[#0052D4] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1'
  >
    <p>
      Me llamo Brayan Ramirez Benitez. Comencé a programar en 2017 con el
      lenguaje de programación Java. Actualmente estoy <strong
        >concluyendo mi carrera de ingeniería en sistemas computacionales</strong
      > en la <strong>Escuela Superior de Cómputo</strong> perteneciente al <strong
        >Instituto Politécnico Nacional (IPN)</strong
      >.
    </p>

    <p>
      Uno de mis mayores éxitos es el <stron
        >prototipo de sistema de detección de movimiento basado en Visión
        Artificial</stron
      > que he desarrollado en 2024. Este trabajo <strong
        >fue aprobado con mención honorifica</strong
      > por los directores y sinodales de la ESCOM.
    </p>

    <p>
      Como estudiante de ingeniería, <strong
        >he contribuido en el desarrollo de múltiples proyectos</strong
      >. Con el objetivo de mejorar mi conocimiento y habilidades en el
      desarrollo de aplicaciones web y convertirme en un desarrollador Web
      FullStack.
    </p>
  </div>
  <img
    width='200'
    height='200'
    src='/brayanphoto.webp'
    alt={personalImageAlt}
    class='order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-3xl backdrop-blur-md border-0 shadow-xl dark:shadow-zinc-700/20 bg-neutral-100/10 dark:bg-zinc-700/30 transition-all duration-300 ease-in-out hover:scale-110'
    style='object-position: 50% 50%'
  />
</article>
