---
import Github from './icons/Github.astro'
import LinkedIn from './icons/LinkedIn.astro'
import SocialPill from './SocialPill.astro'
import Theme from './Theme.jsx'

const NAVITEMS = [
  // { name: 'Experiencia', href: '/#experiencia' },
  { name: 'Proyectos', href: '/#proyectos' },
  { name: 'Tecnologías', href: '/#tecnologias' },
  { name: 'Sobre mí', href: '/#sobre-mi' },
  { name: 'Contacto', href: 'mailto:brbrayan1945@gmail.com' }
]
---

<header
  class='fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2 animate-expand-horizontally'
>
  <nav
    class='flex flex-wrap md:flex-wrap shadow-lg animate-blurred-fade-in dark:shadow-zinc-700/40 saturate-150 items-center justify-center px-2 lg:px-3 py-1 text-sm font-medium rounded-xl bg-neutral-100/10 dark:bg-zinc-700/40 backdrop-blur-md border-0'
  >
    {
      NAVITEMS.map((item) => (
        <a
          href={item.href}
          class='relative block px-3 py-2 transition-colors font-semibold text-zinc-800 dark:text-neutral-100 duration-300 hover:text-[#f83600] dark:hover:text-[#4364F7]'
        >
          {item.name}
        </a>
      ))
    }
    <SocialPill href='https://github.com/BrayanRamirezB' class='px-3 py-2'>
      <Github
        class='size-5 fill-black dark:fill-white opacity-70 transition hover:fill-[#f83600] dark:hover:fill-[#4364F7]'
      />
    </SocialPill>
    <SocialPill
      href='https://www.linkedin.com/in/brayan-rb-4b006b341/'
      class='px-3 py-2'
    >
      <LinkedIn
        class='size-5 fill-black dark:fill-white opacity-70 transition hover:fill-[#f83600] dark:hover:fill-[#4364F7]'
      />
    </SocialPill>
    <Theme client:only='react' />
  </nav>
</header>
