---
import VSCode from './icons/VSCode.astro'
import GitHub from './icons/Github.astro'
import Git from './icons/Git.astro'
import HtmlIcon from './icons/Html.astro'
import CssIcon from './icons/Css.astro'
import JsIcon from './icons/JavaScript.astro'
import Clanguage from './icons/Clanguage.astro'
import Python from './icons/Python.astro'
import NodeJs from './icons/NodeJs.astro'
import ReactIcon from './icons/React.astro'
import AstroIcon from './icons/AstroIcon.astro'
import MySql from './icons/MySql.astro'
import MongoDB from './icons/MongoDB.astro'

const TECHNOLOGIES = {
  HTML: {
    name: 'HTML',
    class: '',
    icon: HtmlIcon
  },
  CSS: {
    name: 'CSS',
    class: '',
    icon: CssIcon
  },
  Js: {
    name: 'JavaScript',
    class: '',
    icon: JsIcon
  },
  NodeJS: {
    name: 'NodeJs',
    class: '',
    icon: NodeJs
  },
  React: {
    name: 'React',
    class: '',
    icon: ReactIcon
  },
  Astro: {
    name: 'Astro',
    class: '',
    icon: AstroIcon
  },
  Git: {
    name: 'Git',
    class: '',
    icon: Git
  },
  Github: {
    name: 'GitHub',
    class: 'fill-black dark:fill-white/90',
    icon: GitHub
  },
  VSCode: {
    name: 'VSCode',
    class: '',
    icon: VSCode
  },
  MySQL: {
    name: 'MySql',
    class: '',
    icon: MySql
  },
  MongoDB: {
    name: 'MongoDB',
    class: '',
    icon: MongoDB
  },
  C: {
    name: 'C',
    class: '',
    icon: Clanguage
  },
  Python: {
    name: 'Python',
    class: '',
    icon: Python
  }
}

const TECHNOLOGIES_ARRAY = [
  TECHNOLOGIES.HTML,
  TECHNOLOGIES.CSS,
  TECHNOLOGIES.Js,
  TECHNOLOGIES.NodeJS,
  TECHNOLOGIES.React,
  TECHNOLOGIES.Astro,
  TECHNOLOGIES.Git,
  TECHNOLOGIES.Github,
  TECHNOLOGIES.VSCode,
  TECHNOLOGIES.MySQL,
  TECHNOLOGIES.MongoDB,
  TECHNOLOGIES.C,
  TECHNOLOGIES.Python
]
---

<section
  class='bg-white dark:bg-transparent bg-opacity-20 backdrop-blur-xl rounded drop-shadow-lg'
>
  <div class='flex flex-col items-center py-4 mx-auto max-w-screen-xl px-4'>
    <h2
      class='mb-8 lg:mb-16 text-md font-semibold tracking-tight leading-tight text-center text-gray-900/60 dark:text-white/60'
    >
      Las tecnologías que he utilizado en el desarrollo de mis proyectos.
    </h2>
    <div
      class='grid grid-cols-3 gap-12 sm:gap-20 md:grid-cols-4 lg:grid-cols-6'
    >
      {
        TECHNOLOGIES_ARRAY.map((tech) => (
          <span class='flex items-center justify-center px-1.5 py-1.5 size-16 rounded-md transition hover:bg-gray-300 dark:hover:bg-gray-800'>
            <tech.icon class={`size-14 ${tech.class}`} />
          </span>
        ))
      }
    </div>
  </div>
</section>
