---
import VSCode from './icons/VSCode.astro'
import GitHub from './icons/Github.astro'
import Git from './icons/Git.astro'
import HtmlIcon from './icons/Html.astro'
import CssIcon from './icons/Css.astro'
import JsIcon from './icons/JavaScript.astro'
import Clanguage from './icons/Clanguage.astro'
import Python from './icons/Python.astro'
import NodeJs from './icons/NodeJs.astro'
import ReactIcon from './icons/React.astro'
import AstroIcon from './icons/AstroIcon.astro'
import MySql from './icons/MySql.astro'
import MongoDB from './icons/MongoDB.astro'
import TailwindCss from './icons/TailwindCss.astro'
import TypeScript from './icons/TypeScript.astro'

const TECHNOLOGIES = {
  HTML: {
    name: 'HTML',
    class: '',
    icon: HtmlIcon
  },
  CSS: {
    name: 'CSS',
    class: '',
    icon: CssIcon
  },
  Js: {
    name: 'JavaScript',
    class: '',
    icon: JsIcon
  },
  NodeJS: {
    name: 'NodeJs',
    class: '',
    icon: NodeJs
  },
  React: {
    name: 'React',
    class: '',
    icon: ReactIcon
  },
  Astro: {
    name: 'Astro',
    class: '',
    icon: AstroIcon
  },
  Git: {
    name: 'Git',
    class: '',
    icon: Git
  },
  Github: {
    name: 'GitHub',
    class: 'fill-black dark:fill-white/90',
    icon: GitHub
  },
  VSCode: {
    name: 'VSCode',
    class: '',
    icon: VSCode
  },
  MySQL: {
    name: 'MySql',
    class: '',
    icon: MySql
  },
  MongoDB: {
    name: 'MongoDB',
    class: '',
    icon: MongoDB
  },
  C: {
    name: 'C',
    class: '',
    icon: Clanguage
  },
  Python: {
    name: 'Python',
    class: '',
    icon: Python
  },
  TailwindCss: {
    name: 'Tailwind CSS',
    class: '',
    icon: TailwindCss
  },
  TypeScript: {
    name: 'TypeScript',
    class: '',
    icon: TypeScript
  }
}

const TECHNOLOGIES_ARRAY = [
  TECHNOLOGIES.HTML,
  TECHNOLOGIES.CSS,
  TECHNOLOGIES.Js,
  TECHNOLOGIES.React,
  TECHNOLOGIES.Astro,
  TECHNOLOGIES.TypeScript,
  TECHNOLOGIES.NodeJS,
  TECHNOLOGIES.TailwindCss,
  TECHNOLOGIES.Git,
  TECHNOLOGIES.Github,
  TECHNOLOGIES.VSCode,
  TECHNOLOGIES.MySQL,
  TECHNOLOGIES.MongoDB,
  TECHNOLOGIES.C,
  TECHNOLOGIES.Python
]
---

<section>
  <div class='flex flex-col items-center py-4 mx-auto max-w-screen-xl px-4'>
    <h2
      class='mb-8 lg:mb-16 text-md font-semibold tracking-tight leading-tight text-center text-zinc-700/70 dark:text-neutral-100/70'
    >
      Stack que utilizo en el desarrollo de mis proyectos.
    </h2>
    <div
      class='grid grid-cols-3 gap-12 sm:gap-20 md:grid-cols-4 lg:grid-cols-5'
    >
      {
        TECHNOLOGIES_ARRAY.map((tech) => (
          <div class='flex flex-col items-center justify-center w-26 h-28 gap-2 rounded-md transition-all duration-300 ease-in-out group backdrop-blur-md border-0 shadow-lg bg-neutral-100/40 dark:bg-zinc-700/30 hover:bg-zinc-700/30 dark:hover:bg-neutral-100/20 cursor-default'>
            <div class='group-hover:scale-110 transition-transform duration-300 ease-in-out'>
              <tech.icon
                class={`size-16 ${tech.class} flex items-center justify-center group-hover:animate-pulse`}
              />
            </div>

            <div class='absolute invisible group-hover:visible text-center backdrop-blur-md border-0 shadow-lg text-neutral-100 bg-[#f83600] dark:bg-[#0052D4] transition-all duration-300 ease-in-out text-sm px-2 py-1 rounded-lg left-1/2 transform -translate-x-1/2 -translate-y-16'>
              {tech.name}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
